* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	background-color: #f3eddc;
	min-height: 100vh;
	place-items: center;
	font-family: inter;
	
  }

  /* Navigaton */

  .navigation {
	padding-left: 3.75rem;
	padding-top:1.875rem;
  }

  li {
	list-style: none;
	display:inline-block;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	
  }
  
  .homelink {
	padding-right: 56.25rem;
  }

  .menulink {
	padding-right: 1.875rem;
  }

  .aboutlink {
	padding-right: 1.875rem;
	
  }

  .booklink {
	padding-right: 1.875rem;
  }

  .homelink-a {
	color: #021E79;
	font-size: 1.25rem;
	text-decoration: none;
  }

  .menulink-a {
	color: #021E79;
	font-size: 1.25rem;
	text-decoration: none;

  }

  .aboutlink-a {
	color: #021E79;
	font-size: 1.25rem;
	text-decoration: none;

  }

  .booklink-a {
	color:#021E79;
	font-size: 20px;
	text-decoration: none;
  }

  .homelink-a:hover {
	text-decoration: underline;
  }

  .menulink-a:hover {
	text-decoration: underline;
  }

  .aboutlink-a:hover {
	text-decoration: underline;
  }

  .booklink-a:hover {
	text-decoration: underline;
  }

  /* Header */

  .headertext {
	font-size: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 270px;
	padding-bottom: 290px;
	color: #021E79;
	font-family: inter ;
  }

  /* Booking form */

  .container {
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
	background-color: #f3eddc;
	border: 2px solid #021E79;
  }
  
  form {
	display: grid;
	grid-gap: 10px;
  }
  
  label {
	font-family: inter;
  }
  
  input,
  button {
	padding: 8px;
	border-radius: 4px;
	border: 1px solid #ccc;
  }
  
  button {
	background-color: #021E79;
	color: white;
	border: none;
	cursor: pointer;
  }
  
  button:hover {
	background-color: #021E79;
  }
  
  /* pop-up message */

  .popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
  }
  
  .popup-content {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .close {
	float: right;
	cursor: pointer;
  }

   /* Style footer */

.site-footer {
	background-color: #021E79;
	color: #f3eddc;
	padding: 80px;
	padding-top: 60px;
	display:flex;
	margin-top: 60px;
  }
  
 
  .opening-hours h3 {
	font-size: 18px;
	margin-bottom: 10px;
	padding-left: 530px;
  }
  
  .opening-hours p {
	margin: 0;
	padding-left: 530px;
  }

  .adress h3 {
	font-size: 18px;
	margin-bottom: 10px;

  }


 