* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

body {
	background-color: #f3eddc;
	min-height: 100vh;
	place-items: center;
	font-family: inter;
}

/* Navigation */

  .navigation {
	padding-left: 3.75rem;
	padding-top: 1.875rem;
  }

  li {
	list-style: none;
	display:inline-block;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	
  }
  
  .homelink {
	padding-right: 56.25rem;
  }

  .menulink {
	padding-right: 1.875rem;
  }

  .aboutlink {
	padding-right: 1.875rem;
	
  }

  .booklink {
	padding-right: 1.875rem;

  }

  .homelink-a {
	color: #f3eddc;
	font-size: 1.25rem;
	text-decoration: none;
  }

  .menulink-a {
	color: #f3eddc;
	font-size: 1.25rem;
	text-decoration: none;

  }

  .aboutlink-a {
	color: #f3eddc;
	font-size: 1.25rem;
	text-decoration: none;

  }

  .booklink-a {
	color:#f3eddc;
	font-size: 1.25rem;
	text-decoration: none;
  }

  .homelink-a:hover {
	text-decoration: underline;
  }

  .menulink-a:hover {
	text-decoration: underline;
  }

  .aboutlink-a:hover {
	text-decoration: underline;
  }

  .booklink-a:hover {
	text-decoration: underline;
  }

  /* Header */

  .container {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../assets/images/header72res.png");
	background-position: center;
	background-size: cover;
  }

  .headertext {
	position: relative;
	font-size: 9.375rem; 
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 16.875rem;
	padding-bottom: 16.875rem;
	color: #f3eddc;
	font-family: inter;

  }

  /* Main */

  .two-column-section1 {
	display: flex;
	padding-bottom: 2.813rem;
	padding-top: 60px;
  }
  
  .column1 {
	flex: 1;
	padding-top: 1.25rem;
	padding-left: 5rem;
	padding-right: 2.5rem;
  }

  .column2 {
	flex: 1;
	padding-top: 1.25rem;
	padding-left: 2.5rem;
	padding-right: 5rem;

  }

  .column3 {
	flex: 1;
	padding-top: 1.25rem;
	padding-left: 5rem;
	padding-right: 2.5rem;

  }

  .column4 {
	flex: 1;
	padding-top: 1.25rem;
	padding-left: 2.5rem;
	padding-right: 5rem;
  }

  .column img {
	max-width: 100%;
	height: auto;
  }

  /* Slideshow */

  .slideshow {
	height: 500px;
	margin: auto;
	position:relative;
	width: 100%;
	display: grid;
	place-items: center;
	overflow: hidden;
}

.slideshow-track {
	display: flex;
	width: calc(500px * 8);
	animation: scroll 80s linear;
	animation-iteration-count: infinite;
	animation-duration: infinite;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-500px*4));
	}
	
}

.slide {
	height: 31.25rem;
	width: 21.875rem;
	display: flex;
	align-items: center;
	padding: 0.938rem;
}
img {
	width: 100%;

}

/* Main 2 */

.two-column-section2 {
	display: flex;
	padding-top: 2.813rem;
	padding-bottom: 2.813rem;
  }
  
  .column2 {
	flex: 1;
	padding-top: 1.25rem;
	padding-left: 2.5rem;
	padding-right: 5rem;

  }

  
  .column img {
	max-width: 100%;
	height: auto;
  }
  
  .column:nth-child(2) {
	font-family: Arial, Helvetica, sans-serif ;
	font-size: 1.25rem;
	color: #f3eddc;
  }

  .h2 {
	padding-bottom: 9.375rem;
  }

  .paragraph {
	font-size: 1.125rem;
	padding-bottom: 13.125rem;
  }

  .menubutton {
	color:#021E79;
	font-size: 1.25rem;
  }

  .menubutton2 {
	color:#021E79;
	font-size: 1.25rem;
  }

  .menubutton:hover {
	text-decoration: underline;
  }

  .menubutton2:hover {
	text-decoration: underline;
  }

  /* Footer */

.site-footer {
	background-color: #021E79;
	color: #f3eddc;
	padding: 5rem;
	padding-top: 3.75rem;
	display:flex;
	margin-top: 3.75rem;
  }
  
 
  .opening-hours h3 {
	font-size: 1.125rem;
	margin-bottom: 0.625rem;
	padding-left: 33.125rem;
  }
  
  .opening-hours p {
	margin: 0;
	padding-left: 33.125rem;
  }

  .adress h3 {
	font-size: 1.125rem;
	margin-bottom: 0.625rem;

  }

  /* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
	.two-column-section1 {
	  flex-direction: column;
	}

	.two-column-section2 {
		flex-direction: column;
	}

	.site-footer {
		flex-direction: column;
	}

	.navigation {
		flex-direction: column;
	}
	

  }




