* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

body {
	background-color: #f3eddc;
	min-height: 100vh;
	place-items: center;
	font-family: inter;
}


  .navigation {
	padding-left: 60px;
	padding-top:30px;
  }

  li {
	list-style: none;
	display:inline-block;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	
  }
  
  .homelink {
	padding-right: 1000px;
  }

  .menulink {
	padding-right: 60px;
  }

  .aboutlink {
	
  }

  .homelink-a {
	color: #FFFDF7;
	font-size: 20px ;
	text-decoration: none;
  }

  .menulink-a {
	color: #FFFDF7;
	font-size: 20px;
	text-decoration: none;

  }

  .aboutlink-a {
	color: #FFFDF7;
	font-size: 20px;
	text-decoration: none;

  }

  .homelink-a:hover {
	text-decoration: underline;
  }

  .menulink-a:hover {
	text-decoration: underline;
  }

  .aboutlink-a:hover {
	text-decoration: underline;
  }

  .container {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../assets/images/header.jpeg");
	background-position: center;
	background-size: cover;
  }

  .headertext {
	position: relative;
	font-size: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 270px;
	padding-bottom: 270px;
	color: #FFFDF7;
	font-family: inter;

  }

  .two-column-section1 {
	display: flex;
  }
  
  .column1 {
	flex: 1;
	padding-top: 20px;
	padding-left: 80px;
	padding-right: 40px;
  }

  .slideshow {
	height: 500px;
	margin: auto;
	position:relative;
	width: 100%;
	display: grid;
	place-items: center;
	overflow: hidden;
}

.slideshow-track {
	display: flex;
	width: calc(500px * 8);
	animation: scroll 80s linear;
	animation-iteration-count: infinite;
	animation-duration: infinite;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-500px*4));
	}
	
}

.slide {
	height: 500px;
	width: 350px;
	display: flex;
	align-items: center;
	padding: 15px;
}
img {
	width: 100%;

}

.two-column-section2 {
	display: flex;
  }
  
  .column2 {
	flex: 1;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 80px;

  }

  /* Ensure image does not exceed column width */
  .column img {
	max-width: 100%;
	height: auto;
  }
  
  /* Style the text content in the right column */
  .column:nth-child(2) {
	font-family: Arial, Helvetica, sans-serif ;
	font-size: 20px;
	color: #FFFDF7;
  }

  .h2 {
	padding-bottom: 150px;
  }

  .paragraph {
	font-size: 18px;
	padding-bottom: 210px;
  }

  .menubutton {
	color:#021E79;
	font-size: 20px;
  }

  .menubutton:hover {
	text-decoration: underline;
  }

  /* Style the footer */
.site-footer {
	background-color: #021E79;
	color: #fff;
	padding: 80px;
	padding-top: 60px;
	display:flex;
	margin-top: 60px;
  }
  
  
  /* Style the opening hours section */
 
  .opening-hours h3 {
	font-size: 18px;
	margin-bottom: 10px;
	padding-left: 530px;
  }
  
  .opening-hours p {
	margin: 0;
	padding-left: 530px;
  }

  .adress h3 {
	font-size: 18px;
	margin-bottom: 10px;

  }



/* navigation */

/*.navigation {
	padding-left: 60px;
	padding-top:30px;
  }

  li {
	list-style: none;
	display:inline-block;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	
  }
  
  .homelink {
	padding-right: 1000px;
  }

  .menulink {
	padding-right: 60px;
  }

  .aboutlink {
	
  }

  .homelink-a {
	color: #021E79;
	font-size: 20px ;
	text-decoration: none;
  }

  .menulink-a {
	color: #021E79;
	font-size: 20px;
	text-decoration: none;

  }

  .aboutlink-a {
	color: #021E79;
	font-size: 20px;
	text-decoration: none;

  }

  .homelink-a:hover {
	text-decoration: underline;
  }

  .menulink-a:hover {
	text-decoration: underline;
  }

  .aboutlink-a:hover {
	text-decoration: underline;
  }*/

  /* header */

  /*.headertext {
	position: relative;
	font-size: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*padding-top: 270px;
	padding-bottom: 270px;*/
	/*color: #021E79;
	font-family: inter ;*/
	

  }

