
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	background-color: #f3eddc;
	min-height: 100vh;
	place-items: center;
	font-family: inter;
	
  }

  .navigation {
	padding-left: 3.75rem;
	padding-top:1.875rem;
  }

  li {
	list-style: none;
	display:inline-block;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	
  }
  
  .homelink {
	padding-right: 56.25rem;
  }

  .menulink {
	padding-right: 1.875rem;
  }

  .aboutlink {
	padding-right: 1.875rem;
  }

  .booklink {
	padding-right: 1.875rem;
  }

  .homelink-a {
	color: #021E79;
	font-size: 1.25rem ;
	text-decoration: none;
  }

  .menulink-a {
	color: #021E79;
	font-size: 1.25rem;
	text-decoration: none;

  }

  .aboutlink-a {
	color: #021E79;
	font-size: 1.25rem;
	text-decoration: none;

  }

  .booklink-a {
	color:#021E79;
	font-size: 1.25rem;
	text-decoration: none;
  }

  .homelink-a:hover {
	text-decoration: underline;
  }

  .menulink-a:hover {
	text-decoration: underline;
  }

  .aboutlink-a:hover {
	text-decoration: underline;
  }

  .booklink-a:hover {
	text-decoration: underline;
  }

  

  .headertext {
	font-size: 9.375rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 16.875rem;
	padding-bottom: 18.125rem;
	color: #021E79;
	font-family: inter ;
  }
  
  /* Define styles for the two columns */
  .two-column-section {
	display: flex;
  }
  
  .column1 {
	flex: 1;
	padding-top: 1.25rem;
	padding-left: 5rem;
	padding-right: 2.5rem;
  }
  
  .column2 {
	flex: 1;
	padding-top: 1.25rem;
	padding-left: 2.5rem;
	padding-right: 5rem;

  }

  img {
	100%;
  }

  /* This ensures that image does not exceed column width */
  .column img {
	max-width: 100%;
	height: auto;
  }
  
  /* Style the text content in the right column */
  .column:nth-child(2) {
	font-family: Arial, Helvetica, sans-serif ;
	font-size: 1.25rem;
	color: #f3eddc;
  }

  .h2 {
	padding-bottom: 9.375rem;
  }

  .paragraph {
	font-size: 1.125rem;
	padding-bottom: 13.125rem;
  }

  .menubutton3 {
	color:#021E79;
	font-size: 1.25rem;
  }

  .menubutton3:hover {
	text-decoration: underline;
  }

  /* Style the footer */
.site-footer {
	background-color: #021E79;
	color: #f3eddc;
	padding: 5rem;
	padding-top: 3.75rem;
	display:flex;
	margin-top: 3.75rem;
  }
  
 
  .opening-hours h3 {
	font-size: 1.125rem;
	margin-bottom: 0.625rem;
	padding-left: 33.125rem;
  }
  
  .opening-hours p {
	margin: 0;
	padding-left: 33.125rem;
  }

  .adress h3 {
	font-size: 1.125rem;
	margin-bottom: 0.625rem;

  }

    /* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
	.two-column-section {
	  flex-direction: column;
	}

	.site-footer {
		flex-direction: column;
	}

  }